.top_board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background-color: #4e525379;
}

.top_board h2 {
    color: #fff;
    padding: 1rem 0 2rem;
}

.top_board {
    display: flex;
    justify-content: center;
}

.top_board .top {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.top_board .top div {
    width: 17rem;
    height: 17rem;
    position: relative;
    cursor: pointer;
}

.top_board .top figure img {
    object-fit: cover;
    width: 17rem;
    height: 17rem;
    border-radius: 10px;
}

.top_board .top figure figcaption {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 0, 0, 0.6502976190476191) 10%,
        rgba(0, 212, 255, 0) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    z-index: 555;
    border-radius: 10px;
}

.top_board .top figure figcaption span {
    display: block;
    color: #fff;
}

.board_list {
    display: flex;
    flex-direction: column;
    width: 70rem;
    margin: 0 auto;
    padding: 1rem 0 2.5rem;
}

.board_list .board_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 3rem;
    color: #fff;
}

.board_list .board_title .write_btn {
    color: #fff;
    padding: 0.5rem 1rem;
    background-color: #2db0e6;
    border-radius: 0.25rem;
}

.board_list .board_title .write_btn:hover {
    background-color: #217fa7;
}

.board_list .board_content {
    min-height: 30rem;
}
.board_list .board_content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.board_list .board_content ul li {
    width: 16.75rem;
    height: 16.75rem;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.board_list .board_content ul li figure img {
    object-fit: cover;
    width: 16.75rem;
    height: 16.75rem;
    border-radius: 10px;
}

.board_list .board_content ul li figure figcaption {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 0, 0, 0.6502976190476191) 10%,
        rgba(0, 212, 255, 0) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    z-index: 555;
    border-radius: 10px;
}

.board_list .board_content ul li figure figcaption span {
    display: block;
    color: #fff;
}
