.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index: 888;
    position: fixed;
}

.modal,
.modal .dimmed {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal .dimmed {
    position: absolute;
    background: rgba(11, 19, 30, 0.37);
}

.not_scroll {
    overflow: hidden;
}

.m_text {
    font-size: 14px;
    font-weight: bold;
}

.s_text {
    font-size: 12px;
}

.write-submit:hover {
    background-color: #5df0a6dc;
}

body {
    background-color: #36393f;
    /* overflow-x: hidden; */
}

.contents {
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    min-height: 37rem;
    /* max-height: 40rem; */
    min-width: 500px;
    max-width: 550px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 15px;
    background: #36393f;
    color: #fff;
    z-index: 999;
}

.contents .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 5%;
}

.contents .top .profile_img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.contents .top .profile_img img {
    width: 100%;
}

.contents .top .user_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-grow: 1;
}

.img_section {
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.user_name {
    padding: 5px;
}

.gather_link {
    flex-grow: 1;
    text-align: right;
}

.contents .sprite_more_icon {
    position: relative;
}

.modal_exit {
    padding-left: 30px;
}

.modal_exit_button {
    cursor: pointer;
    background-color: #283964e6;
    border: none;
    opacity: 0.3;
    font-size: 25px;
    color: #fff;
}

.write-submit {
    border: none;
    border-radius: 0.25rem;
    background-color: #89ecbbab;
    color: #fff;
    /* margin-left: 330px; */
    padding: 0.5rem 1.3rem;
    cursor: pointer;
}

.contents .bottom_icons {
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.contents .bottom_icons .left_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents .bottom_icons .left_icons .heart_btn {
    margin-bottom: 2px;
    cursor: pointer;
}

.sprite_heart_icon_outline.on {
    background: url("../imgs/background01.png") no-repeat -26px -261px;
}

.contents .likes {
    /* padding: 5px 20px; */
}

.contents .comment_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.contents .comment_container .comment {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.scroll_container {
    /* overflow: auto; */
    height: 42%;
    /* min-height: 15%; */
    border-bottom: 1px solid rgba(246, 246, 246, 0.24);
    /* display: flex;
    flex-wrap: wrap; */
    overflow-y: scroll;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #313235e6;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}
.contents .nick_name {
    font-weight: bold;
    font-size: 1rem;
}

.contents .maintext {
    min-height: 3rem;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #fff;
    padding: 10px 20px 20px;
}

.contents .comment_field {
    /* min-height: 56px; */
    height: 8%;
    padding: 0 20px;
    position: relative;
}

.contents .comment_field input {
    color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.contents .comment_field input:focus ~ .upload_btn {
    pointer-events: initial;
    opacity: 1;
}

.contents .comment_field .upload_btn {
    color: #fff;
    background-color: #89ecbbab;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    /* cursor: pointer; */
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    /* pointer-events: none; */
    /* opacity: 0.6; */
}

.contents .comment_field .upload_btn:hover {
    background-color: #5df0a6dc;
}

.contents .comment_field .upload_btn.not_allow {
    cursor: not-allowed;
}

.contents .comment_field .upload_btn.not_allow:hover {
    background-color: #89ecbbab;
}

.sprite_heart_icon_outline {
    display: inline-block;
    background: url("../img/modal.png") no-repeat -52px -261px;
    width: 24px;
    height: 22px;
}

.sprite_bubble_icon {
    display: inline-block;
    background: url("../img/modal.png") no-repeat -239px -202px;
    width: 24px;
    height: 24px;
}

.comment-nickname,
.comment-text {
    display: inline-block;
    width: auto;
}

.contents .comment_box .comment-detail {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    padding: 0.5rem 1rem;
    /* margin: 0.5rem 0; */
    border-bottom: 1px solid rgba(246, 246, 246, 0.24);
}

.contents .comment_box .comment-detail:first-child {
    border-top: 1px solid rgba(246, 246, 246, 0.24);
}

.contents .comment_box .comment-nickname {
    width: 10%;
    color: #fff;
    opacity: 0.8;
}

.contents .comment_box .comment-text {
    width: 85%;
    padding-left: 10px;
    color: white;
}

.contents .comment_box .comment_delete {
    background-color: #555;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    line-height: 18px;
    /* margin-left: 20px; */
    padding: 0 7px 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contents {
        margin: 150px auto;
        width: 310px;
        height: 800px;
        min-width: 0;
        min-height: 0;
    }

    .modal_exit {
        padding-left: 10px;
    }

    .write-submit {
        font-size: 0.65rem;
        padding: 0.2rem 0.7rem;
    }

    .img_section {
        height: 30%;
    }

    .scroll_container {
        height: 54%;
    }
}
