doctype html
html
  head
    meta(chartset='utf-8')
  body
    form(action='upload' method='post' enctype="multipart/form-data")
      input(type='file' name='userfile' accept="image/*")
      textarea(name="제목", cols="30", rows="1" style="display:block") 
      textarea(name="제목", cols="30", rows="10") 

      input(type='submit')
    