<!DOCTYPE html>
<html>
    <head>
        <title>Fruit</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../asset/css/login.css" />
        <link rel="stylesheet" href="../asset/css/default.css" />
    </head>
    <body>
	<header id="header">
            <div class="menuBar">
                <nav class="menuBox">
                    <a href="#">
                        <img
                            class="logo"
                            src="../asset/img/logo_horizon.png"
                            alt="META BOOK"
                        />
                    </a>
                    <a class="login" href="#">로그인</a>
                </nav>
            </div>
        </header>

    <div class="login-wrap">

	<div class="login-html">

    <div class = "header_logo">
      <img src="../asset/img/logo.png" class=logo_img>
    </div>

		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">로그인</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">회원가입</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">이메일</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">비밀번호</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<input type="submit" class="button" value="로그인">
				</div>
				
				

			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label">닉네임</label>
					<input id="user" type="text" class="input">
				</div>
        <div class="group">
					<label for="pass" class="label">이메일</label>
					<input id="pass" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">비밀번호</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">비밀번호 확인</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<input type="submit" class="button" value="회원가입">
				</div>
				<div class="foot-lnk">
					<label for="tab-1">Already Member?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
