<!DOCTYPE html>
<html>
    <head>
        <title>email ejs template</title>
    </head>
    <body>
        <h1>Welcome!! <%= email %></h1>
        <p>정말 방가요 ^^</p>
        <script></script>
    </body>
</html>
